doctype html
html
  head
    meta(charset="utf-8")
    title Path Puzzles Font
    script(type="text/javascript", src="node_modules/@svgdotjs/svg.js/dist/svg.min.js")
    script(type="text/javascript", src="node_modules/furls/furls.js")
    script(type="text/javascript", src="node_modules/font-webapp/font-webapp.js")
    script(type="text/javascript", src="font.js")
    script(type="text/javascript", src="pathpuzzles.js")
    script(type="text/javascript").
      if (/[?&]hud=0/.test(window.location.search)) // avoid blinking
        document.documentElement.classList.add('hud-false');
    style
      :stylus
        .hud-false > body > *:not(#output), #hud
          display: none
        .font-puzzle
          .solution
            opacity: 0
        .font-solved
          .user, .errors
            opacity: 0
      include:stylus pathpuzzles.styl
    //#include virtual="../../analytics.html"
  body
    table.w-100
      tr
        td.text-left.align-middle
          h1 <a href="./">Path Puzzles Font</a>
        td.text-right.align-middle
          h2 by Jeffrey Bosboom, <a href="https://erikdemaine.org/">Erik&nbsp;Demaine</a>, <a href="http://martindemaine.org">Martin&nbsp;Demaine</a>, Adam Hesterberg, <a href="https://www.enigami.fun/about">Roderick Kimball</a>, and Justin Kopinsky, 2020

    table#data.w-100.noprint
      tr
        td
          label(for="text") Enter text to render:
          | &nbsp;
          textarea.align-middle#text(name="text", rows=4, cols=40) text
        td
          input#puzzle(type="radio", name="font", value="puzzle", checked)
          label(for="puzzle") Puzzle&nbsp;font
          br
          input#solved(type="radio", name="font", value="solved")
          label(for="solved") Solved&nbsp;font
        td
          button#reset Reset all puzzles
          p
          .text-right.d-inline-block
            input#walls(type="checkbox", name="walls")
            label(for="walls")
              | Enable third <br> &ldquo;wall&rdquo; state
            input#hud(type="checkbox", checked)

    #size.noprint

    p

    #output.w-100

    .text-right
      button#nohud(title="Use browser back button to restore interface.") Hide all but font rendering

    hr.noprint

    p.noprint.
      Path puzzles are a type of pencil-and-paper logic puzzle
      <a href="https://www.enigami.fun/the-path-puzzles-book">introduced by Roderick Kimball in 2013</a>
      and featured in <i>The New York Times</i>'s
      <a href="https://wordplay.blogs.nytimes.com/2014/07/28/path-2/">Wordplay blog in 2014</a>.
      In its simplest form, a puzzle consists of a grid of cells with two
      &ldquo;doors&rdquo; on the boundary, and numerical constraints
      on some of the rows and columns.
      The goal is to draw one noncrossing path between the two boundary doors
      so that the number of cells visited in each constrained row or column
      matches the specified number (if any).
      Like most pencil-and-paper logic puzzles,
      <a href="https://erikdemaine.org/papers/PathPuzzles_GC/">path puzzles are NP-complete</a>,
      meaning that there is no efficient algorithm to solve them,
      assuming P&nbsp;&ne;&nbsp;NP.

    p.noprint.
      This typeface features 26 uniquely solvable 6&nbsp;&times;&nbsp;6
      path puzzles, one for each letter of the alphabet.
      In the <b>solved font</b>, the paths form the letter shapes.
      In the <b>puzzle font</b>, you can interactively solve the puzzle
      by <b>clicking on grid edges</b> to toggle whether they are part of
      the solution path.
      If you <b>Enable third &ldquo;wall&rdquo; state</b>, then you can
      click on an edge a second time to make it a wall, indicating that
      the path can't go there.
      Right clicking acts as an eraser.
      Middle clicking draws with walls if they are enabled.
      You can drag (slowly) to paint many edges or walls at once.
      If you connect more than two edges at any vertex,
      they will highlight red.
      As mentioned in <a href="https://erikdemaine.org/papers/PathPuzzles_GC/">our paper</a>,
      we verified by exhaustive search
      that each of these puzzles has a unique solution.

    p.noprint.
      Check out <a href="http://erikdemaine.org/fonts/">other mathematical and
      puzzle fonts</a>. &bull; Feedback or not working?
      <A HREF="mailto:edemaine+fonts@mit.edu">Email Erik</A>. &bull;
      <a href="https://github.com/edemaine/font-pathpuzzles">Source code on GitHub</a>.
